*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
.screen{
   width: 100%;
}
.navbar-wrapper{
    width: 100%;
    border: 1px solid black;
    background-color: #2874f0;
}
.navbar-container{
    width: 75%;
    margin: .5rem auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
    width: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.logo-img{
    width: 100%;
}
.logo-img img{
    width: 100%;
}
.logo-txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-small-img{
    width: 100%;
}
.logo-small-img img{
    width: 100%;
}
.search-wrapper{
    width: 40%;
    border: 1px solid black;
}
.right-nav-wrapper{
    width: 48%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}















