@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.screen {
    width: 100%;
}

.navbar-wrapper {
    width: 100%;
    /* border: 1px solid black; */
    background-color: #2874f0;
    padding: .7rem;
    position: fixed;
    top: 0;
}

.navbar-container {
    width: 75%;
    margin: .5rem auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 75%;
    /* height: 1rem; */
}

.logo-img img {
    width: 100%;
}

.logo-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-txt span {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    text-transform: capitalize;
}

.logo-txt span:nth-child(1) {
    color: white;
    margin-right: .2rem;
}

.logo-txt span:nth-child(2) {
    color: yellow;
    margin-right: .4rem;
}

.logo-small-img {
    width: 10%;
}

.logo-small-img img {
    width: 100%;
}

.search-wrapper {
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: #fff;
}

.search-wrapper input {
    width: 90%;
    font-size: 1.2rem;
    padding: .5rem;
    outline: none;
    border: none;
    background-color: #fff;
}

.search-wrapper i {
    width: 8%;
    font-size: 1.5rem;
    color: #2874f0;
    padding: .5rem;
    background-color: #fff;
    cursor: pointer;
}

.right-nav-wrapper {
    width: 48%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav-link {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .09rem;
    /* border: 1px solid black; */
    cursor: pointer;
}

.right-nav-link:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2874f0;
    background-color: #fff;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .09rem;
    /* border: 1px solid black; */
    padding: .7rem;
    width: 25%;
}

.right-nav-link i {
    font-size: 1.2rem;
    margin: 0 .4rem;
}

.home-categories {
    width: 100%;
    margin-top: 4.5%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    padding: 1.4rem 0;
    border-bottom: .1rem solid lightgray;
}

.category {
    cursor: pointer;
}

.category-img {
    width: 45%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.category-img img {
    width: 100%;
}

.category-name {
    font-size: 1.3rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: .5rem;
    letter-spacing: .05rem;
    color: black;
}

.category:hover .category-name {
    color: #2874f0;
}

.category i {
    font-size: 1rem;
    margin: 0 .4rem;
}

/* ------- sign up ----------- */

.login-container {
    width: 50%;
    margin: 5% auto 0 auto;
    display: flex;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.login-left {
    width: 40%;
    background-color: #2874f0;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.login-right {
    width: 60%;
    padding: 2.5rem 2.5rem;
}

.login-text-wrapper {
    width: 100%;
    margin-bottom: 14rem;
    /* border: 1px solid black; */
}

.login-title {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 2rem;
}

.login-text {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
}

.input_wrap input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: .1rem solid lightgray;
    height: 4rem;
    width: 100%;
    color: #000000;
    font-size: 1.7rem;
    padding-left: 2rem;
    box-shadow: none;
    outline: none;
    margin-bottom: 2rem;
}


.input_wrap input:focus+label,
input:valid+label {
    font-size: 1.2rem;
    color: gray;
    top: -.5rem;
    left: 1rem;
    background: #ffffff;
    padding: 0px .5rem 0px .5rem;
}

.input_wrap {
    width: auto;
    height: auto;
    position: relative;

}

.input_wrap label {
    font-size: 1.6rem;
    color: gray;
    /* padding: 1rem; */
    position: absolute;
    top: 1rem;
    left: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    font-weight: normal;

}

.input_wrap input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

.submit-btn {
    width: 100%;
}

.submit-btn input {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .09rem;
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fb641b;
    margin-bottom: 1.5rem;
}

.return-btn {
    width: 100%;
    color: #2874f0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .09rem;
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 2rem;
}

.tandc-sp-small-text {
    font-size: 1.2rem;
}

/* --------- multiple product  ----------- */

.product-section {
    width: 100%;
    margin-top: 5%;

}

.product-container {
    width: 90%;
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    margin: 0 auto;

}

.product {
    width: 18%;
}

.product:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-img {
    width: 100%;
    height: 30rem;
    margin-bottom: 1rem;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.product-desc {
    width: 100%;
    padding: 1rem;
}

.pro-brand {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: gray;
    text-transform: capitalize;
}

.pro-name {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pro-color {
    width: 100%;
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.pro-assure-img {
    width: 100%;
    margin-bottom: 1rem;
}

.pro-assure-img img {
    width: 80%;
}

.pro-price-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.real-price {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    margin-right: .5rem;

}

.del-price {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: gray;
    text-transform: capitalize;
    margin-right: .5rem;
}

.off {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: green;
}

.pro-size {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: gray;
    text-transform: capitalize;
    margin-right: .5rem;
}

.pro-assure-img {
    width: 25%;
}

.pro-assure-img img {
    width: 100%;
}

.pro-size span {
    color: #000000;
}


/* ---------single product --------- */

.product-categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    padding: .5rem;
    border-bottom: .1rem solid lightgray;
}

.category-title:hover {
    color: #2874f0;
}

.category-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: .5rem;
    cursor: pointer;
    text-transform: capitalize;

}

.single-product-container {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 0 auto;
}

.category-title i {
    font-size: 1.2rem;
    margin: 0 .4rem;
}

.single-product-left {
    width: 35%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.sp-left-side{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.single-product-right {
    width: 61%;
    /* border: 1px solid black; */
    padding: 0 1rem;
}

.sp-inner-left {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.sp-inner-left-img {
    width: 100%;
    /* border: 1px solid black; */
}

.sp-inner-left-img img {
    width: 100%;
    /* border: 1px solid black; */
    object-fit: contain;

}

.sp-inner-right {
    width: 89%;
    /* border: 1px solid black; */
}

.sp-inner-right-img {
    width: 100%;
    /* border: 1px solid black; */
}

.sp-inner-right-img img {
    width: 100%;
    /* border: 1px solid black; */
}

.path-item::after {
    content: '>';
    margin: 0 .4rem;
}

.path-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.path {
    width: 85%;
    /* border: 1px solid salmon; */
    display: flex;
    align-items: center;
}

.path-item {
    /* width: 12%; */
    font-size: 1.2rem;
    color: gray;
    text-transform: capitalize;
    /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.share {
    width: 10%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}
.share:hover{
    color: #2874f0;
}
.share i {
    margin: 0 .4rem;
    color: gray;
}
.share:hover i{
    color: #2874f0;
}
.single-product-right .pro-brand {
    font-size: 1.8rem;
    margin-bottom: .2rem;
}

.single-product-right .pro-name {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.single-product-right .pro-color {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-left: .9rem;
}

.single-product-right .real-price {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* padding-left: .9rem; */
    margin-top: .5rem;
}

.single-product-right .pro-size {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: gray;
    text-transform: capitalize;
    margin-right: .5rem;
}

.ratings-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.rating-icon {
    padding: .3rem 1rem;
    color: white;
    background-color: green;
    border-radius: 18%;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.rating-icon i {
    font-size: 1.2rem;
    margin: 0 .4rem;
    /* background-color: white; */
}
.rating-info{
    font-size: 1.4rem;
    color: gray;
    margin: 0 1rem;

}
.single-product-right .pro-assure-img{
    width: 9%;
    padding-top: .3rem;
}
.colors{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.color{
    width: 10%;
    font-size: 1.4rem;
    color: gray;
    text-transform: capitalize;
}
.filtered-products{
    width: 87%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}
.filtered-products-img{
    /* border: 1px solid black; */
    height: 10rem;
}
.filtered-products-img img{
    width: 100%;
    height: 100%;    
}
.size-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.size-options{
    width: 87%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    /* border: 1px solid salmon; */
}
.free{
    font-size: 1.4rem;
    text-transform: capitalize;
    border: .1rem solid lightgray;
    padding: .5rem;
    font-weight: 550;

}
.size-chart{
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 .5rem;
    font-size: 1.3rem;
    color: #2874f0;
    
}
.size-chart-img{
    width: 30%;

}
.size-chart-img img{
    width: 100%;
}
.size-chart-title{
    width: 50%;
    text-transform: capitalize;
}
.sleevs-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.sleevs-title{
    width: 10%;
    font-size: 1.4rem;
    color: gray;
    text-transform: capitalize;
}
.sleevs-content{
    width: 87%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    /* border: 1px solid salmon; */
}
.active-sleeve-type{
    font-size: 2rem;
    padding: .5rem;
    border: .1rem solid #2874f0;
    color: #2874f0;
    font-weight: 600;
    text-transform: capitalize;
}
.inactive-sleeve-type{
    font-size: 2rem;
    padding: .5rem;
    border: .1rem dashed lightgray;
    color: lightgray;
    font-weight: 600;
    text-transform: capitalize;

}
.sp-btn-container{
    width: 98%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ad-to-cart-btn{
    width: 49%;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding: 1.2rem;
    text-align: center;
    background-color: #ff9f00;
    text-transform: uppercase;
    cursor: pointer;
}

.buy-now-btn{
    width: 49%;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding: 1.2rem;
    text-align: center;
    background-color: #fb641b;
    text-transform: uppercase;
    cursor: pointer;
}
.offers-section{
    width: 100%;

}
.offers-title{
    width: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1rem;
}
.offer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.offer-img{
    width: 3%;
    /* border: 1px solid salmon; */
}
.offer-img img{
    width: 85%;
    margin: 0 auto;
}
.offer-text{
    width: 96%;
    /* border: 1px solid violet; */

}
.offer-text span{
    font-size: 1.3rem;

}
.offer-text span:nth-child(1){
    font-weight: 600;
}
.offer-text span:nth-child(3){
    color: #2874f0;
    font-weight: 600;
}
.offre-footer{
    font-size: 1.3rem;
    color: #2874f0;
}



/* ------- carrt -------- */

.cart-container {
    width: 100%;
    margin-top: 4.5%;
    background-color: rgb(233, 239, 244);
}
.cart-inner-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 2rem;
}
.cart-left{
    width: 64%;
    /* border: 1px solid salmon; */
}
.cart-right{
    width: 34%;
    /* border: 1px solid salmon; */
}
.cart-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: .1rem solid lightgray;
    background-color: #fff;
    border-radius: .4rem;
    margin-bottom: 1.5rem;
}
.cart-header-content{
    width: 20%;
    font-size: 1.6rem;
    padding: 1.4rem;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}
.active{
    border-bottom: .3rem solid #2874f0;
    color: #2874f0;
}
.pincode-check{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    border: .1rem solid lightgray;
    border-radius: .4rem;
    background-color: #fff;
    margin-bottom: 1.5rem;
}
.pc-left{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.pc-right{
    font-size: 1.5rem;
    text-transform: capitalize;
    border: .1rem solid lightgray;
    padding: .5rem;
    color: #2874f0;
    cursor: pointer;
}
.cart-items{
    width: 100%;
    background-color: #fff;
}
.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid salmon; */
    padding: 1.5rem;
    
}
.cart-item-left{
    width: 15%;
    /* border: .1rem solid lightgray; */
}
.cart-item-right{
    width: 83%;
    /* border: .1rem solid lightgray; */
    font-size: 1.5rem;

}
.cart-left-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-img{
    width: 80%;
}
.cart-img img{ 
    width: 100%;
}
.cart-pro-qty{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.cart-pro-qty span:nth-child(1){
    font-size: 2rem;
    border: .1rem solid lightgray;
    border-radius: 50%;
    padding: .4rem .9rem;
}
.cart-pro-qty span:nth-child(3){
    font-size: 2rem;
    border: .1rem solid lightgray;
    border-radius: 50%;
    padding: .4rem .9rem;
}
.cart-pro-qty span:nth-child(2){
    font-size: 2rem;
    border: .1rem solid lightgray;
    padding: .4rem 1.3rem;
}
.cart-footer{
    display: flex;
    text-transform: uppercase;
    justify-content:start;
    gap: 2rem;
}
.c-product-brand{
    margin-bottom: 1rem;
}
.c-product-name{
    margin-bottom: 1rem;
}
.c-size-color{
    margin-bottom: 1rem;
}
.peroduct-seller{
    margin-bottom: 1rem;
}
.c-price-section{
    margin-bottom: 1rem;
}
.cart-right{
    background-color: #fff;
}
.cart-right table{
    font-size: 1.4rem;
    width: 100%;
       
}
tr td:nth-child(1){
    text-align: left;
}
tr td:nth-child(2){
    text-align: right;
}

tr:nth-child(1) td{
    color: gray;
    font-weight: 600;
}
tr:nth-child(4) td:nth-child(2){
    color: green;
}
tr:nth-child(5){
    font-size: 1.7rem;
    font-weight: 600;
}
tr:nth-child(6) td{
    color: green;
    margin-top: 2rem;
}
















































































